body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(67, 185, 43);
   
    
}

canvas{
    border-radius: 20px;
    border: 3px double rgb(216, 40, 187);
}
* {
    background-image: url(/images/cobra.png);
}

h1 {
    
    text-shadow:#000 -1px -1px;
}